parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     th3mouk_cms_db
    database_user:     root
    database_password: root
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  mail
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            AllWeNeedIsSomeoneToLeanON

    title_project:     CMS Starter
    logo_project:      bundles/sonataadmin/logo_title.png

    pixlr_secret:      TheSuperSecretHash
